name: Build

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: recursive
    - uses: ilammy/msvc-dev-cmd@v1
    - uses: microsoft/setup-msbuild@v1.1
    - run: build.bat
      shell: cmd
    - uses: papeloto/action-zip@v1
      with:
        files: Build
        dest: VNTranslationTools.zip
    - uses: softprops/action-gh-release@v1
      with:
        files: VNTranslationTools.zip
